body{
    background-color: aquamarine;
    margin: 0;
    margin-top: 5%;
    font-family: 'osvaldo';
}

nav{
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

nav img{
    height: 50px;
}

nav a{
    background-color: white;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}

nav a:hover{
    background-color: rgb(31, 154, 211);
    color: white;
}

.intro{
    padding: 25px 60px;
    text-align: justify;
}

main{
    text-align: center;
}

.rank{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.card{
    display: flex;
    flex-direction: column;
}

.card span{
    font-size: 20px;
}

.card small{
    color: rgb(78, 78, 78);
}

.card img{
    height: 100px;
    width: 160px;
    border-radius: 10px;
    border: 1px solid black;
}
h2{
    font-family: sei la;
}

h3{
    font-family: nao sei;
}

h1{
    font-family: 'sei la';
}

@font-face {
    font-family: 'ultra fresh';
    src: url(Ultra\ Fresh\ -\ Demo.ttf);
}
@font-face {
    font-family: sei la;
    src: url(Remingtoned\ Type.ttf);
}

@font-face {
    font-family: nao sei;
    src: url(elegant_typewriter.zip);
}